@import "tailwindcss";

@theme {
  --color-primary: #0b1b45;
  --color-accent: #ffffff;
  --font-sans: "Poppins", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-primary);
  color: var(--color-accent);
}

@keyframes scale-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.animate-scale-in {
  animation: scale-in 20s ease-in-out infinite alternate;
}